/* @media only screen and (max-width: 768px) {
	.container {
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 10px;
	}

	.background-title {
		text-align: center;
		font-size: 2rem;
		padding: 10px;
	}

	.flex-form {
		width: 75vw;
		display: flex;
	}

	.searchField {
		width: 60%;
		justify-content: center;
	}

	.formLabel {
		width: 10px;
	}

	.submit {
		text-align: center;
		justify-content: center;
		width: 40%;
	}

	.container > div {
		height: auto;
		min-height: 10vh;
		align-items: center;
		justify-content: center;
		text-align: center;
	}

} */

@media only screen and (max-width: 768px) {
	.container {
		display: flex;
		flex-direction: column;
	}

	.container div {
		margin-top: .45rem;
	}

	#pollenCounts {
		display: flex;
		flex-direction: column;
		height: 100%;
	}
	.background-title {
		text-align: center;
		font-size: 1rem;
		padding: 10px;
	}

	.flex-form {
		width: 75vw;
		display: flex;
	}

	.searchField {
		width: 60%;
		justify-content: center;
		font-size: .8rem;
	}

	.formLabel {
		width: 10px;
	}

	.submit {
		text-align: center;
		justify-content: center;
		width: 40%;
	}
}

@media only screen and (max-width: 450px) {
	.container {
		display: flex;
		flex-direction: column;
	}

	.container div {
		margin-top: .55rem;
	}

	#pollenCounts {
		display: flex;
		flex-direction: column;
		height: 100%;
	}
	.background-title {
		text-align: center;
		font-size: 1rem;
		padding: 10px;
	}

	.flex-form {
		width: 75vw;
		display: flex;
	}

	.searchField {
		width: 60%;
		justify-content: center;
		font-size: .8rem;
	}

	.formLabel {
		width: 10px;
	}

	.submit {
		text-align: center;
		justify-content: center;
		width: 40%;
	}
}
