.notification.is-primary {
	display: flex;
	justify-content: center;
}

.flex-form input[type="submit"] {
	background: black;
	border: 1px solid black;
	color: #fff;
	padding: 0 30px;
	cursor: pointer;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	transition: all 0.2s;

	/* color ef3f5a */
}

.flex-form input[type="submit"]:hover {
	background: #d73851;
	border: 1px solid #d73851;
}

.flex-form {
	display: -webkit-box;
	display: flex;
	z-index: 10;
	position: relative;
	width: 500px;
	box-shadow: 4px 8px 16px rgba(0, 0, 0, 0.3);
}

.flex-form > * {
	border: 0;
	padding: 0 0 0 10px;
	background: #fff;
	line-height: 50px;
	font-size: 1rem;
	border-radius: 0;
	outline: 0;
	-webkit-appearance: none;
}

input[type="search"] {
	flex-basis: 500px;
}

.cover {
	display: flex;
	justify-content: center;
}

.title-container {
	display: flex;
	justify-content: center;
	flex-direction: column;
	margin: 0 auto;
	align-items: center;
}

.background-title {
	height: 60px;
	background: rgba(25, 27, 23, .6);
	padding: 10px 10px 20px 10px;
	align-items: center;
}

.title {
	font-family: Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	font-size: 2.6rem;
	font-weight: 300;
	color: white;
	width: 100%;
	margin: 50px 0 10px;
}

.forecastTitle {
	font-family: Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	font-size: 1.6rem;
	font-weight: 500;
	color: black;
	width: 100%;
	margin: 30px auto 10px;
}

.forecast {
	width: 100%;
	text-align: center;
	color: black;
	font-weight: 700;
}

.notification.is-primary {
	display: flex;
	background: rgba(170, 170, 170, .8);
	width: 350px;
	border-radius: 1%;
	margin: 5px;
	height: 145px;
	justify-content: flex-end;
}

#target > div:nth-child(2) {
	background: none;
}

article {
	width: 5px;
	display: flex;
	flex-direction: column;
	text-align: center;
}

article > p {
	display: flex;
	text-align: center;
}

.forecast {
	width: 100%;
	text-align: center;
}

.flex-form {
	margin-top: 20px;
	margin-bottom: 5vh;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background: #333;
	color: #fff;
	font-family: 'Roboto', sans-serif;
}

h2 {
	font-weight: 300;
	margin: 10px;
}

h2 span {
	font-size: 1.8rem;
}

p {
	font-size: 1.5rem;
}

.main-container {
}

.container {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	/* grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); */
	grid-template-rows: auto auto auto auto;

	/* grid-template-columns: repeat(auto, 1fr); */
	/* grid-auto-rows: minmax(100px, 300px); */
	grid-gap: 10px;

	width: 100%;
}

.container > div {
	cursor: pointer;
	height: auto;
	min-height: 10vh;
	background-size: cover;
	background-attachment: fixed;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;

	transition: all 0.5s ease-in;
}

.container > div:hover {
	opacity: 1.0;
}

.container > div:nth-of-type(1) {
	grid-column: 1 / 3;
}

.container > div:nth-of-type(6) {
	grid-column: 3 / 5;
}

.container > div:nth-of-type(9) {
	grid-column: 3 / 5;
}

.container > div:nth-of-type(10) {
	grid-column: 1 / 3;
}

.bg1 {
	/* background: url('https://i.ibb.co/dBLbrRV/bg1.jpg'); */
	background: rgba(25, 27, 23, .9);
}

.bg2 {
	/* background: url('https://i.ibb.co/Fb5jb3J/bg2.jpg');s */
	/* background: rgba(139, 143, 104, .9); */
	/* background: rgba(138, 138, 88, 0.9); */
	background: rgba(172, 172, 170, 0.8);
	color: black;
}

#pollenCounts {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	font-size: 1.2rem;
}

#wind-speeds {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	font-size: 1.5rem;
}

#sunrise-sunset {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	font-size: 1.5rem;
}

.hidden {
	visibility: hidden;
}

#ozone,
#humidity,
#pollenCounts,
#current-temp,
#forecast-today,
#uvIndex {
	font-size: 1.5rem;
}

#weather-icon {
	font-size: 3rem;
	margin: 15px 0;
	color: #f0f0f0;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

#weather-icon i {
	display: inline-block;
	animation: weatherPulse 3s ease-in-out infinite;
}

@keyframes weatherPulse {
	0%, 100% {
		transform: scale(1);
		opacity: 1;
	}
	50% {
		transform: scale(1.05);
		opacity: 0.9;
	}
}
